---
---
@import "{{ site.theme }}";

//#main_content.inner {
//  max-width: 100%;
//  float: left;  
//}

footer.inner { font-size: 80% }

// make collapsible toc list
// https://www.w3schools.com/howto/howto_js_collapsible.asp

.jtcollapsible {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

td {
  padding: 0 10px 0 10px;
}

td.r {
  text-align: right;
}

span.b {
  font-weight: bold;
}

table {
  //margin-left:10px;
  margin-left: auto;
  margin-right: auto;
}

table.r td, table.r th {
  text-align: right;
}

div.jformula span {
  font-size: 100%;
}

div.jformula sub, sup {
  font-size: 80%;
}
