<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="src/toc.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#toc').toc({
          title: '',
          headers: 'h2, h3',
          showEffect: 'none', // values: [show|slideDown|fadeIn|none]
          showSpeed: 'none', // set to 0 to deactivate effect
          classes: { list: 'jtcollapsible', item: '' }
        });
        
        // for each li.jtcollapsible that has a child
        // element ol, add a button that can be clicked
        // to hide and unhide the child

        // for each ol.jtcollapsible, add a button to its
        // parent element innerhtml that can be clicked
        // to hide and unhide it
        
        // Right-pointing triangle &#9654;
        // Down-pointing triangle &#9660;
        
        $("ol.jtcollapsible").each(function() {
          var p = $(this).parent();
          if(p.is("li")) {
            var a = p.children(":first");
            assert(a.is("a"));
            console.log(a.text);
            $(this).before("&nbsp;<button class=\"jtcollapser\" onclick=\"jttogglecollapsed()\">&#9654;</button>");
          }
          else{
            // top level should never collapse
            $(this).removeClass("jtcollapsible"); 
          }
        });        
      });
      
      // https://www.w3schools.com/howto/howto_js_collapsible.asp
      // add click listeners to open collapsed sublists
      
      function jttogglecollapsed() {
        var p = $(this).parent();
        var a = p.children(":first");
        assert(a.is("a"));
        console.log(a.text);
        $(this).toggleClass("active");
        var content = $(this).next();
        var old_display = content.css('display');
        var new_display = (old_display==="block") ? "none" : "block";
        console.log(content.children(":first").children(":first").text);
        content.css("display", new_display); 
      }
    </script>
    {% seo %}
  </head>

  <body>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Copyright &#169; 2020 by <a href="https://thebuildingcoder.typepad.com/blog/about-the-author.html">Jeremy Tammik</a>
          &ndash; <a href="https://github.com/waldrain/waldrain.github.io">web page source</a>
          &ndash; <a href="http://jeremytammik.github.io/moniwonig">moniwonig</a></p>
      </footer>
    </div>
  </body>
</html>
